/.vs/
.vsconfig
/.vscode/
/.rider/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Ll]og/
/[Bb]uild/
/[Bb]uildLinux/
/[Uu]serSettings/

/Packages/packages-lock.json
/ProjectSettings/**/*
!/ProjectSettings/*.asset


/LuaScripts/Prota/

**/Generated/
**/Generated.meta


*.csproj
*.sln
